body{
  font-size: 18px;
  margin: 0;
}

main {
  margin: 10px;;
}
.title {
  background-color: #4EA0FF;
  width: 100%;
  height: 100px;
  background-image: url(./assets/img/pattern.png);
  background-size: contain;
}

.author {
  font-size: 0.8rem;
}
.testo-opaco { 
  opacity: 0.5;
 }

#booleaner-logo {
  width: 200px;
  padding-top: 50px;
}

.highlight {
  background-color: yellow;
}

div > span {
  font-size: 0.7rem;
}


#booleaner {
  color: #0098E1;
}

thead {
  background-color: #20A9E5;
}

.table {
  background-color: #B1E5F2;
}