body{
  font-size: 18px;
}

.title {
  background-color: #4EA0FF;
  width: 100%;
  height: 100px;
  background-image: url(./assets/img/pattern.png);
  background-size: contain;
}

header p { 
  opacity: 0.5;
  font-size: 0.9rem;
 }

#booleaner-logo {
  width: 18%;
  padding-top: 50px;
}

#highlight {
  background-color: yellow;
}

div span {
  font-size: 0.7rem;
}



#booleaner {
  color: #0098E1;
}